.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  padding-left: 95px;
  padding-right: 95px;
}

@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
}

@media (max-width: 767px) {
  .route-link {
    margin-left: 10px;
  }
}
