.videosDiv {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
.videosDiv1 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button6 {
  background-color: #00306e;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 34px;
  width: 110px;
  border-width: 0px;
  color: white;
}
.icon {
  font-size: 25px;
  height: 30px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icons1 {
  color: red;
  font-size: 30px;
  margin-right: 20px;
}
.img10 {
  width: 400px;
}
.div1 {
  color: black;
}
.searchDiv1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}
.input4 {
  width: 400px;
  height: 30px;
  font-weight: bold;
  font-family: Roboto;
  padding: 7px;
  margin-bottom: 6px;
}
.products-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
