.thumbnail-list-item {
  margin-right: 16px;
  margin-bottom: 16px;
}

.thumbnail-button {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.thumbnail {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}
