.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.card-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.card-img {
  width: 80px;
  height: 80px;
}
