.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.contact-img {
  width: 150px;
}
.contact-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
}

@media (min-width: 576px) {
  .contact-heading {
    font-size: 48px;
  }
}
