.bannerDiv {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.closeIcon {
  align-self: flex-start;
}
.button4 {
  box-shadow: 5px 5px #000000;
  height: 30px;
  font-weight: bold;
  font-family: Roboto;
  background-color: #ffffff;
}
