.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.about-img {
  width: 150px;
}
.about-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
  font-size: 24px;
}

@media (min-width: 576px) {
  .about-heading {
    font-size: 48px;
  }
}
.about-paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  color: #555555;
}
